= turbo_stream.update 'place-info' do
  = turbo_stream_from dom_id(@place)
  .card.bg-base-100
    %figure
      %img{ src: @place.photo_url }
    .card-body
      .flex.justify-between.align-center
        %h2.card-title= @place.name
        - if current_user.present? && !current_user.places.where(id: @place).exists?
          = button_to '観光した！', user_visited_places_path(current_user), params: { id: @place.id },
            class: 'btn btn-secondary', id: "visit-button-place-#{@place.id}"
      %p= @place.description
      = render 'ai_description', place: @place
