.navbar.bg-base-100
  .flex-1
    = link_to '旅行のオトモ', root_path, class: 'btn btn-ghost text-xl'
  .flex-none
  - if current_user
    %ul.menu.menu-menu-vertical.menu-horizontal.rounded-box
      %li= link_to '今日の思い出', user_visited_places_path(current_user)
      %li= link_to "ログアウト", log_out_path, method: :delete
      %li
        %a.flex
          = image_tag current_user.image, class: 'w-[50px] rounded-full'
          %span #{current_user.name}さん
  - else
    = button_to "/auth/google_oauth2", method: :post, data: { turbo: false }, class: 'menu menu-sm' do
      = image_tag "google_auth.svg"
